body{
	background-color:#7fdfdf;
	text-align:center;
	font-size:100%
	}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	body{
		background-color:#7fdfdf;
		font-size: 90%;
		text-align:center;
	}
	

}