body{
	background-color:#7fdfdf;
	text-align:left;
	font-size:100%;
	}
	
	div#wrapper{
		margin-left:auto; 
		margin-right:auto; 
		width: 80%;
		margin: auto;
		text-align:left;
	}
	.myTable{
		background-color:#e4ebeb;
		border-collapse:collapse;
		font-size: 85%;
		margin-left:auto; 
		margin-right:auto; 
		width: 80%;
		margin: auto;
		text-align:left;
	}
	
	.myTable th { background-color:#8ec5cc;color:black; }
	.myTable td, .myTable th { cellpadding:10px; border:1px solid #cc8eb0; text-align:center; }

	a{ 
		text-decoration:none; 
		background-color: orange; 
		border-color: yellow; 
		border-style: solid; 
		cursor:pointer; 
	} 
 
a:link {color:black;} 
a:visited {color:black;} 
a:hover {color:yellow;} 
a:active {color:black;} 
	
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	body{
		background-color:#7fdfdf;
		text-align:left;
		font-size:90%;
	}

	div#wrapper{
		margin-left:auto; 
		margin-right:auto; 
		width: 90%;
		margin: auto;
		text-align:left;
		font-size: 100%;
	}
	
	.myTable {
		background-color:#e4ebeb;
		border-collapse:collapse;
		font-size: 90%;
		margin-left:auto;
		margin-right:auto;
		width: 80%;
		margin: auto;
    }
	
	.myTable th { background-color:#8ec5cc;color:black; }
	.myTable td, .myTable th { cellpadding:10px; border:1px solid #cc8eb0; text-align:center; }
	
	.butt{
		font-size: 80%;
	}
}