body{background-color:#7fdfdf}

div#wrapper{
	margin-left:auto; 
	margin-right:auto; 
	width: 60%;
	margin: auto;
	text-align:center;
}

#access {
    display: block;
    top: 100px;
    z-index: 9999;
	text-align:center;
}

#access ul {
    font-size: 15px;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}
#access li {
    position: relative;
    margin:0 0 10px 0;
}
#access a {
	text-decoration: none;
    background: #fbfbfb;
	font-weight: bold; 
    color: black;
    display: block;
    line-height: 2.8em;
    padding: 0 10px 0 20px;
}

#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
    background: #efefef;
}
#access li:hover > a,

#access ul li:hover > ul {
    display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
    font-weight: bold;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
body{background-color:#7fdfdf}

div#wrapper{
	margin-left:auto; 
	margin-right:auto; 
	width: 60%;
	margin: auto;
	text-align:center;
}

#access {
    display: block;
    top: 100px;
    z-index: 9999;
	text-align:center;
}

#access ul {
    font-size: 13px;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}
#access li {
    position: relative;
    margin:0 0 8px 0;
}
#access a {
	text-decoration: none;
    background: #fbfbfb;
	font-weight: bold; 
    color: black;
    display: block;
    line-height: 2.8em;
    padding: 0 10px 0 20px;
}

#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
    background: #efefef;
}
#access li:hover > a,

#access ul li:hover > ul {
    display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
    font-weight: bold;
}

}