
@media only screen and (max-width: 1024px), only screen and (min-width: 768px), only screen and (max-device-width: 1024px), only screen and (min-device-width: 768px) {

	div#wrapper{
		width: auto;
		margin: auto;	
	}
	
	.change_font{ 
		margin-left:auto; 
		margin-right:auto; 
		width: auto;
		font-size: auto;
	}
	
	input:focus{
		background-color:yellow;
	}

	body{
		background-color:#7fdfdf;
		text-align:center;
	}
	
	a:link {color:black;} 
	a:visited {color:black;} 
	a:hover {color:yellow;} 
	a:active {color:black;}

	td{ 
	text-align:center; 
	font-weight: bold; 
	color:black; 
	} 


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	div#wrapper {
		width: auto;
		margin: auto;
	}
		
	.change_font{ 
		margin-left:auto; 
		margin-right:auto; 
		width: auto;
		font-size: 90%;
	}
	
	body{
		background-color:#7fdfdf;
		font-size: 90%;
		text-align:center;
	}

}
