div#wrapper{
		margin-left:auto; 
		margin-right:auto; 
		width: 80%;
		margin: auto;
		text-align:center;
	}
	
body{
	background-color:#99CC33;
	text-align:center;
	}
	
#footerlinks{
	background-color:#99FF00;
    padding:5px;
    width:auto;
	overflow:hidden;
	font-size: 100%;
}

#footerlinks li {
    float:left;
    padding:5px 0;
    width:30%;
	list-style-type:none;
	margin:0 0 10px 0;
}



@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

	div#wrapper{
		margin-left:auto; 
		margin-right:auto; 
		width: 50%;
		height: 80%;
		margin: auto;
		text-align:center;
		font-size: 80%;
	}

	#footerlinks{
		background-color:#99FF00;
		padding:5px;
		width:50%;
		overflow:hidden;
		font-size: 80%;
		text-align:center;
	}
	
	#footerlinks li {
		float:none;
		padding:5px 0;
		width:90%;
		list-style-type:none;
		
	}
}