body{background-color:#d3dede}
 
h2{ 
 text-align:center; 
 color:black; 
} 
 
a{ 
 text-decoration: none; 
 background-color: orange; 
 font-weight: bold; 
 border-color: yellow; 
 border-style: solid; 
 border-width: thin; 
 cursor: pointer; 
} 
 
a:link {color:black;} 
a:visited {color:black;} 
a:hover {color:yellow;} 
a:active {color:black;} 
 
td{ 
 text-align: center; 
 font-weight: bold; 
 color:black; 
} 
 
fieldset{ 
 border-color: orange; 
 border-style: solid; 
 border-width: thic; 
} 
 
legend{ 
 color: black; 
 font-weight: bold; 
} 
 
#button{ 
 font-weight: bold; 
 background-color: orange; 
 cursor: pointer; 
 border-color: yellow; 
 border-style: solid; 
 border-width: thin; 
} 
 
#button:hover{color:yellow} 



